@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

a{
  text-decoration: none;
  color: white;
}
.custom-font {
  font-family: "Montserrat", sans-serif !important;
}
.lato-font {
font-family: "Lato", sans-serif;
}
.secondary_background
{
background-color: rgba(44, 62, 80, 1);
}
.secondary_textcolor
{
color: rgba(44, 62, 80, 1);
}

.green_background
{
background-color: rgba(26 ,188 , 156, 1);
}
.navbar-toggler-icon {
  width: 1.2rem;
  height: 1.2rem;
}

.heading_font_size
{
  font-size: 4rem;
}
.heading2_font_size
{
  font-size: 3rem;
}


li
{
  list-style: none;

}

.divider-custom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem 0;
}

.divider-custom-line {
  width: 100px; 
  height: 3px;
  background-color: #ffffff; 
}

.divider-custom-icon {
  color: #ffffff;
  font-size: 2rem;
  padding: 0 15px; 
}

.divider-custom-line-dark {
  width: 100px; 
  height: 3px;
background-color: rgba(44, 62, 80, 1);
}

.divider-custom-icon-dark {
 color: rgba(44, 62, 80, 1);
  font-size: 2rem;
  padding: 0 15px; 
}

.w-20
{
  width: 200px;
}
.custom_padding
{
  padding-top: 190px;
}

.bottom_padding
{
padding-bottom: 100px;
}